*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
  }
  body{
    background-color: rgb(186, 235, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .main{
    position: relative;
    margin: 50px;
    background-color: rgb(255, 255, 250);
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0px 35px 35px rgb(0, 0, 0,0.5);
    transition: 0.2s ease-in-out;
    
  }
  .main:hover{
    box-shadow: 5px 35px 30px rgb(0, 0, 0,0.8);
  }
  .main .left{
    position: relative;
    background-color: #003147;
    padding: 40px;
  }
  .main .right{
    position: relative;
    background-color: #fff;
    padding: 40px;
  }
  .profilebox{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding-bottom:20px ;
    border-bottom: solid rgba(255, 255, 255, 0.226) 2px;
  }
  .imgbx{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
  .profilebox .imgbx img{
    width: 100%;
    height: 100%;
  }
  .profilebox h2{
    color: white;
    margin-top: 20px;
    font-size: 1.7em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.1em;
  }
  .profilebox h2 span{
    font-size: 0.7em;
    font-weight: 300;
  }
  .contact{
    padding-top: 40px;
  }
  .contact h3{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .contact ul{
    position: relative;
  }
  .contact ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
  }
  .contact ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
  }
  .contact ul li span{
    color: #fff;
    font-weight: 300;
  }
  .education li{
    margin-bottom: 30px;
  }
  .education h4{
    color: #fff;
    font-weight: 500;
  }
  .education h5{
    color: #03a9f4;
  }
  .Languages .percente{
    background-color: white;
    width: 100%;
    height: 5px;
    position: relative;
    display: block;
    margin-top: 5px;
  }
  .Languages .percente div{
    width: 71%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #03a9f4;
  }
  
  .about{
    padding-bottom: 50px;
  }
  .title2{
    padding-bottom:10px;
    color: #003147;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  p{
    color: #686868;
  }
  .about .box{
    display: flex;
    margin: 20px 0;
  }
  .about .box .text{
    text-transform: uppercase;
  }
  .about .box .year{
    color: #686868;
    min-width: 200px;
  }
  .about .box .text H4{
    font-size: 16px;
    color: #2a7da4;
  }
  .skills .box {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: 150px 1fr;
    align-items: center;
  }
  .skills .box .percente{
    position: relative;
    background-color: #f0f0f0ff;
    width: 100%;
    height: 10px;
  }
  .skills .box .percente div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #03a9f4;
  }
  .skills .box h4{
    color: #848c99;
    font-weight: 400;
  }
  
  .interest ul li{
    font-weight: 500;
    list-style: none;
    margin: 10px;
  }
  .interest ul li .fa{
    color: #03a9f4;
    font-size: 20px;
  }